img{
  display: grid;
  margin: auto;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}
header, main, footer, .quote{
  display: grid;
  justify-items: center;
}
p{
  display: grid;
  justify-items: center;
}
ul{
  margin-left: 15%;
  margin-right: 15%;
  line-height: 20px;
}
html{
  font-family: Arial;
  background-color: lightgray;
}
p, .quote{
  margin-right: 100px;
  margin-left: 100px;
  text-align: center;
  display: grid;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
}